@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Non<span class="text-success">S</span>top</h1>
    <p class="font-weight-bold">We Design and Develop Digital Products For You</p>
</div>
